'.source.scilab':
  'function with no return values':
    prefix: 'function-no-retVal'
    description: 'Function with no return values'
    body: """
      function ${1:FunctionName}($2)
        $3
      endfunction
    """

  'function with return value(s)':
    prefix: 'function-retVal'
    description: 'Function with return values(s)'
    body: """
      function ${1:retVal} = ${2:FunctionName}($3)
        $4
      endfunction
    """

  'disp':
    prefix: 'disp'
    description: 'Display a variable and its name to the console'
    body: """
      disp($1, '$1');
    """
    
  'if-then-else':
    prefix: 'if-else'
    description: 'if-then-else condition'
    body: """
      if ${1:condition} then
        $2
      else
        $3
      end
    """

  'if-then':
    prefix: 'if-end'
    description: 'if-then condition'
    body: """
      if ${1:condition} then
        $2
      end
    """

  'for-loop':
    prefix: 'for'
    description: 'for-loop'
    body: """
      for $1
        $2
      end
    """

  'while-loop':
    prefix: 'while'
    description: 'while-loop'
    body: """
      while ${1:condition}
        $2
      end
    """

  'try-catch':
    prefix: 'try-catch'
    description: 'try-catch-block (to catch errors during script runtime)'
    body: """
      try
        $1
      catch
        $2
      end
    """

  'select':
    prefix: 'select'
    description: 'select-list'
    body: """
      select $1
        $2
      else
        ${3:; // default value}
      end
    """

  'case':
    prefix: 'case'
    description: 'case of a select list'
    body: """
      case ${1:condition} then
        $2
    """
