'scopeName': 'source.scilab'
'name':      'Scilab'
'fileTypes': ['sci', 'sce']

'patterns': [

   {  'include': '#line_comment' }

   {  'include': '#sci_builtin_functions_a'  }
   {  'include': '#sci_builtin_functions_b'  }
   {  'include': '#sci_builtin_functions_c'  }
   {  'include': '#sci_builtin_functions_d'  }
   {  'include': '#sci_builtin_functions_e'  }
   {  'include': '#sci_builtin_functions_f'  }
   {  'include': '#sci_builtin_functions_g'  }
   {  'include': '#sci_builtin_functions_h'  }
   {  'include': '#sci_builtin_functions_i'  }
   {  'include': '#sci_builtin_functions_j'  }
   {  'include': '#sci_builtin_functions_k'  }
   {  'include': '#sci_builtin_functions_l'  }
   {  'include': '#sci_builtin_functions_m'  }
   {  'include': '#sci_builtin_functions_n'  }
   {  'include': '#sci_builtin_functions_o'  }
   {  'include': '#sci_builtin_functions_p'  }
   {  'include': '#sci_builtin_functions_q'  }
   {  'include': '#sci_builtin_functions_r'  }
   {  'include': '#sci_builtin_functions_s'  }
   {  'include': '#sci_builtin_functions_t'  }
   {  'include': '#sci_builtin_functions_u'  }
   {  'include': '#sci_builtin_functions_v'  }
   {  'include': '#sci_builtin_functions_w'  }
   {  'include': '#sci_builtin_functions_x'  }

   {
      'comment': 'Arithmetic operators'
      'match': '\\+|\\-|\\.?(\\*|/|\\\\|\\^|(?<=[\\.\\w\\]\\)])\')'
      'name': 'keyword.operator.arithmetic.scilab'
   }

   {
      'comment': 'global scope identifier'
      'match': '\\b(global)\\b'
      'name': 'storage.modifier.global.scilab'
   }

   {
    'comment': 'keyword operators that evaluate to True or False'
    'match': '\\b(&|\\|)\\b'
    'name': 'keyword.operator.logical.scilab'
   }

   {
    'match': '<\\=\\=|>|<|>\\=|<\\=|~\\='
    'name': 'keyword.operator.comparison.scilab'
   }

   {
    'match': '\\='
    'name': 'keyword.operator.assignment.scilab'
   }

   {  'include': '#continuation_mark'  }
   {  'include': '#sci_all_constants'  }
   {  'include': '#sci_all_keywords'   }

   {
      'comment': 'Scilab function definition'
      'begin': '\\b(function)(?:(.*)\\=)?\\s*(.*)\\s*\\('
      'end': '\\)(\\s*)'
      'name': 'meta.function.scilab'

      'beginCaptures':
        '1':
          'comment': 'function keyword'
          'name': 'storage.type.function.scilab'

        '2':
          'comment': 'return values'
          'patterns':[
             {
                'match': '[a-zA-Z_][a-zA-Z_0-9]*'
                'name': 'variable.parameter.function.scilab'
             }
             {
                'match': ','
                'name': 'punctuation.separator.parameters.scilab'
             }
          ]

        '3':
          'comment': 'function name'
          'patterns':[
             {
                'match':'[a-zA-Z_][a-zA-Z_0-9]*'
                'name': 'entity.name.function.scilab'
             }
          ]
      'endCaptures':
        '1':
          'comment': 'end variable declaration'
          'name': 'storage.section.function.begin.scilab'

      'patterns':[
        {  'include': '#continuation_mark' }
        {  'include': '#sci_all_constants' }
        {  'include': '#line_comment'      }
        {  'include': '#continuation_mark '}
        {
          'match': '[a-zA-Z_][a-zA-Z_0-9]*'
          'name': 'variable.parameter.function.scilab'
        }
        {
          'match': ','
          'name': 'punctuation.separator.parameters.scilab'
        }
      ]
   }

   {
     'comment': 'End of a function (a.k.a. "endfunction" tag'
     'match': '^\\s*endfunction'
     'name': 'storage.section.function.end.scilab'
   }

   {
      'comment': 'single quoted strings'
      'name': 'string.quoted.single.scilab'

      'begin': '(?<![\\w\\]\)])\''
      'beginCaptures':
         '0':
            'name': 'punctuation.definition.string.begin.scilab'
      'end': '\'(?!\')'
      'endCaptures':
         '0':
            'name': 'punctuation.definition.string.end.scilab'
      'patterns': [
         {
            'match': '\'\'|""'
            'name': 'constant.character.escape.scilab'
         }
      ]
   }

   {
      'comment': 'double quoted strings'
      'name': 'string.quoted.double.scilab'

      'begin': '"'
      'beginCaptures':
         '0':
            'name': 'punctuation.definition.string.begin.scilab'
      'end': '"(?!")'
      'endCaptures':
         '0':
            'name': 'punctuation.definition.string.end.scilab'
      'patterns': [
         {
            'match': '\'\'|""'
            'name': 'constant.character.escape.scilab'
         }
      ]
   }

   {
      'comment': 'matrix/vector extraction symbols : & $'
      'match': '(?<![a-zA-Z_0-9\\s])[:\\$]'
      'name' : 'support.constant.scilab'
   }
]

# ------------------------------
# additional definitions
# ------------------------------
'repository':
   'line_comment':
      {
        'match': '//.*\\n'
        'name': 'comment.line.comment.scilab'
      }

   'continuation_mark':
      {
         'comment': 'continuation mark'
         'match': '\\.\\.\\.\\s*$'
         'name': 'punctuation.separator.continuation.scilab'
      }

   # ------------------------------
   # constants definition
   # ------------------------------
   'sci_numbers':
      {
         'comment': 'Scilab numbers'
         'match': '\\b(([0-9]+\\.?[0-9]*)|(\\.[0-9]+))((E|e)(\\+|-)?[0-9]+)?\\b'
         'name': 'constant.numeric.scilab'
      }
   'sci_builtins':
      {
         'comment': 'Scilab built-in constants'
         'match': '%(pi|e|i|eps|inf|nan|t|T|f|F|s|z)\\b'
         'name': 'support.constant.scilab'
      }

   'sci_all_constants':
      'patterns':[
         {  'include': '#sci_numbers'  }
         {  'include': '#sci_builtins' }
      ]

   # ------------------------------
   #statement definitions
   # ------------------------------
   'sci_keywords_block_flow_alter':
      {
         'comment': 'keywords that alter flow from within a block'
         'name': 'keyword.control.statement.scilab'
         'match': '\\b(break|continue|return|end)\\b'
      }

   'sci_loops':
      {
         'comment': 'keywords that delimit loops'
         'name': 'keyword.control.repeat.scilab'
         'match': '\\b(do|for|while)\\b'
      }

   'sci_errors':
      {
         'comment': 'keywords that delimit an error'
         'name': 'keyword.control.exception.scilab'
         'match': '\\b(try|catch)\\b'
      }

   'sci_conditionals':
      {
        'comment': 'keywords that delimit flow conditionals'
        'name': 'keyword.control.conditional.scilab'
        'match': '\\b(if|elseif|else|select|case)\\b'
      }

   'sci_common_keys':
      {
         'comment': 'keywords which does not fit in any other category'
         'name': 'keyword.control.scilab'
         'match': '\\b(clear|clearglobal|exit|pause|quit|then)\\b'
      }

   'sci_all_keywords':
      'patterns':[
         {  'include':'#sci_keywords_block_flow_alter'   }
         {  'include':'#sci_loops'  }
         {  'include':'#sci_errors' }
         {  'include':'#sci_conditionals' }
         {  'include':'#sci_common_keys' }
      ]

   # ------------------------------
   # scilab builtin functions
   # ------------------------------
   'sci_builtin_functions_a':
      {
         'comment': 'Scilab 5.4.1 pre-defined functions beginning with a'
         'match': '\\b(?<!\\.)(abcd|abinv|abort|about|abs|accept_func_default|accept_func_vfsa|acos|acosd|acosh|acoshm|acosm|acot|acotd|acoth|acsc|acscd|acsch|add_param|addcolor|addhistory|addmenu|addf|addinter|addmenu|adj2sp|aff2ab|amell|analpf|analyze|and|aplat|apropos|argn|arhnk|arl2|arma2p|arma2ss|armax|armax1|arsimul|ascii|asciimat|asec|asecd|asech|asin|asind|asinh|asinhm|asinm|atan|atand|atanh|atanhm|atanm|augment|auread|autumncolormap|auwrite)\\b'
         'name': 'support.function.builtin.scilab'
      }
   'sci_builtin_functions_b':
      {
         'comment': 'Scilab 5.4.1 pre-defined functions beginning with b'
         'match': '\\b(?<!\\.)(balanc|balreal|banner|bar|barh|barhomogenize|base2dec|basename|bdiag|beep|bessel|besselh|besseli|besselj|besselk|bessely|beta|bezout|bilin|bilt|bin2dec|binominal|bitand|bitcmp|bitget|bitor|bitset|bitxor|black|blanks|bloc2exp|block2ss|block_parameter_error|bode|bonecolormap|bool2s|browsehistory|browsevar|bsplin3val|bstap|buildouttb|buttmag|bvode|bvodeS|bytecode|bytecodewalk)\\b'
         'name': 'support.function.builtin.scilab'
      }
   'sci_builtin_functions_c':
      {
         'comment': 'Scilab 5.4.1 pre-defined functions beginning with c'
         'match': '\\b(?<!\\.)(cainv|calendar|calerf|c_link|calerf|calfrq|call|canon|captions|casc|cat|ccontrg|cdfbet|cdfbin|cdfchi|cdfchn|cdff|cdffnc|cdfgam|cdfnbn|cdfnor|cdfpoi|cdft|ceil|cell|cell2mat|cellstr|center|cepstrum|champ|champ1|char|chart|chdir|cheb1mag|cheb2mag|chepol|chfact|chol|chsolve|classmarkov|clc|clean|clearfun|clf|clipboard|clock|close|cls2dls|cmb_lin|cmndred|cmoment|code2str|coding_ga_binary|coding_ga_identity|coeff|coff|coffg|colcomp|colcompr|colinout|color|colorbar|colordef|comet|comet3d|comp|companion|completion|complex|compute_initial_temp|cond|cond2sp|condestsp|conj|cont_frm|cont_mat|contour|contour2d|contour2di|contourf|contr|contrss|conv|conv2|convol|convol2d|coolcolormap|copfac|coppercolormap|copy|copyfile|convstr|corr|correl|cos|cosd|cosh|coshm|cosm|cotd|cotg|coth|cothm|covar|createGUID|createdir|crossover_ga_binary|crossover_ga_default|csc|cscd|csch|csgn|cshep2d|csim|cspect|csvDefault|csvRead|csvTextScan|csvWrite|ctr_gram|cumprod|cumsum|curblock|czt)\\b'
         'name': 'support.function.builtin.scilab'
      }
   'sci_builtin_functions_d':
      {
         'comment': 'Scilab 5.4.1 pre-defined functions beginning with d'
         'match': '\\b(?<!\\.)(dae|daeoptions|damp|dasrt|dassl|datafit|datatipCreate|datatipGetEntities|datatipGetStruct|datatipInitStruct|datatipManageMode|datatipMove|datatipRedraw|datatipRemove|datatipRemoveAll|datatipSetDisplay|datatipSetInterp|datatipSetOrientation|datatipSetStruct|datatipSetStyle|datatipToggle|date|datebum|datevec|dbphi|dcf|dct|ddp|debug|dec2base|dec2hex|dec2bin|dec2oct|deff|definedfields|degree|del_help_chapter|delbpt|delete|deletefile|delip|delmenu|demo_choose|demo_compiler|demo_end|demo_file_choice|demo_function_choice|demo_mdialog|demo_message|demo_run|denom|derivate|derivative|des2ss|des2tf|det|determ|detr|detrend|dgettext|dhinf|dhnorm|diag|diary|diff|diophant|dir|dirname|disp|dispbpt|dispfiles|displayhistory|dlgamma|dllinfo|dos|double|dragrect|draw|drawaxis|drawlater|drawnow|driver|dscr|dsearch|dsimul|dst|dt_ility|dtsi)\\b'
         'name': 'support.function.builtin.scilab'
      }
   'sci_builtin_functions_e':
      {
         'comment': 'Scilab 5.4.1 pre-defined functions beginning with e'
         'match': '\\b(?<!\\.)(edit|edit_curv|editor|eigenmarkov|ell1mag|emptystr|eomday|eqfir|eqiir|equil|equil1|ereduc|erf|erfc|erfcx|erfinv|errbar|errcatch|errclear|error|etime|eval|eval3d|eval3dp|eval_cshep2d|evans|evstr|exec|execstr|exists|exp|expm|exportUI|eye)\\b'
         'name': 'support.function.builtin.scilab'
      }
   'sci_builtin_functions_f':
      {
         'comment': 'Scilab 5.4.1 pre-defined functions beginning with f'
         'match': '\\b(?<!\\.)(fac3d|factor|factorial|factors|faurre|fchamp|fcontour|fcontour2d|fec|feval|ffilt|fft|fft2|fftshift|fftw_flags|fftw_forget_wisdom|fgrayplot|fieldnames|figure|file|fileext|fileinfo|fileparts|filesep|filt_sinc|filter|find|findAC|findBD|findBDK|find_freq|findfileassociation|findfiles|findm|findobj|findR|findx0BD|firstnonsingleton|fit_dat|fix|flipdim|floor|flts|fminsearch|format|fort|fourplan|fplot2d|fplot3d|fplot3d1|fprintfMat|frep2tf|freq|freson|fexp|frfit|frmag|fscanfMat|fsfirlin|fsolve|fspec|fspecg|fstabst|fstair|ftest|ftune|full|fulldile|fullpath|fullrf|fullrfk|fun2str|funcprot|funptr)\\b'
         'name': 'support.function.builtin.scilab'
      }
   'sci_builtin_functions_g':
      {
         'comment': 'Scilab 5.4.1 pre-defined functions beginning with g'
         'match': '\\b(?<!\\.)(G_make|g_margin|gainplot|gamitg|gamma|gammaln|gca|gcare|gcbo|gcd|gce|gcf|gda|gdf|ged|genfac3d|genmarkov|geom3d|geomean|get|get_param|getblocklabel|getcallbackobject|getcolor|getd|getdate|getdebuginfo|getdefaultlanguage|getdrives|getdynlibnext|getenv|getfield|getfont|gethistory|gethistoryfile|getinstalledlookandfeels|getio|getlanguage|getlongpathname|getlookandfeel|getmd5|getmemory|getmodules|getos|getpid|getrelativefilename|getscilabkeywords|getscilabmode|getshell|getshortpathname|getsymmetrics|gettext|getvalue|getvariablesonstack|getversion|gfare|gfrancis|givens|glever|gmres|graduate|grand|graycolormap|grayplot|graypolarplot|grep|group|gschur|gsort|gstacksize|gtild)\\b'
         'name': 'support.function.builtin.scilab'
      }
   'sci_builtin_functions_h':
      {
         'comment': 'Scilab 5.4.1 pre-defined functions beginning with h'
         'match': '\\b(?<!\\.)(h2norm|h_cl|h_inf|h_inf_st|h_norm|hallchart|hank|hankelsv|harmean|haveacompiler|havewindow|help|help_from_sci|help_skeleton|hermit|hess|hex2dec|hilb|hilbert|hinf|hist3d|histplot|horner|host|hotcolormap|householder|hrmt|hsv2rgb|hsvcolormap|htrianr|hypermat)\\b'
         'name': 'support.function.builtin.scilab'
      }
   'sci_builtin_functions_i':
      {
         'comment': 'Scilab 5.4.1 pre-defined functions beginning with i'
         'match': '\\b(?<!\\.)(iconvert|ieee|iir|iirgroup|iirlp|ilib_build|ilib_compile|ilib_for_link|ilib_gen_Make|ilib_gen_cleaner|ilib_gen_gateway|ilib_gen_loader|ilib_include_flag|ilib_mex_build|ilib_verbose|imag|impl|imrep2ss|imult|ind2sub|inistate|init_ga_default|init_param|input|int|int2d|int3d|int8|int16|int32|intc|intdec|integrate|interp|interp1|interp2d|interp3d|interpln|intersect|intg|intl|intppty|intsplin|inttrap|inttype|inv|inv_coeff|invr|invsyslin|iqr|isalphanum|isascii|iscell|iscellstr|isdef|isdigit|isdir|isempty|isequal|isequalbitwise|iserror|isfield|isfile|isglobal|isinf|isletter|isnan|isnum|isoview|isreal|issparse|isstruct|istssession|isvector)\\b'
         'name': 'support.function.builtin.scilab'
      }
   'sci_builtin_functions_j':
      {
         'comment': 'Scilab 5.4.1 pre-defined functions beginning with j'
         'match': '\\b(?<!\\.)(javaclasspath|javalibrarypath|jetcolormap|jmat|justify)\\b'
         'name': 'support.function.builtin.scilab'
      }
   'sci_builtin_functions_k':
      {
         'comment': 'Scilab 5.4.1 pre-defined functions beginning with k'
         'match': '\\b(?<!\\.)(kal|karmarkar|kernel|kpure|krac2|kron|kroneck)\\b'
         'name': 'support.function.builtin.scilab'
      }
   'sci_builtin_functions_l':
      {
         'comment': 'Scilab 5.4.1 pre-defined functions beginning with l'
         'match': '\\b(?<!\\.)(lasterror|lattn|lattp|lcf|lcm|lcmdiag|ldiv|ldivf|leastsq|legend|legendre|legends|length|leqr|lev|levin|lft|lib|librarieslist|libraryinfo|lin|lin2mu|lindquist|linear_interpn|lines|linf|linfn|link|linmeq|linsolve|linspace|list|list2vec|listfiles|listfunctions|listvarinfile|lmisolver|load|loadmatfile|loadwave|locate|log|log10|log1p|log2|logm|logspace|lqe|lqg|lqg2stan|lqg_ltr|lqr|ls|lsq|lsq_splin|lsqrsolve|lsslist|lstcat|lstsize|ltitr|lu|ludel|lufact|luget|lusolve|lyap)\\b'
         'name': 'support.function.builtin.scilab'
      }
   'sci_builtin_functions_m':
      {
         'comment': 'Scilab 5.4.1 pre-defined functions beginning with m'
         'match': '\\b(?<!\\.)(m6bandred|m6bmatch|m6busack|m6cent|m6chcm|m6clique|m6clique1|m6compc|m6compfc|m6concom|m6deumesh|m6dfs|m6dfs2|m6diam|m6dijkst|m6dmtree|m6edge2st|m6findiso|m6flomax|m6floqua|m6fordfulk|m6frang|m6hamil|m6hullcvex|m6inimet|m6johns|m6kilter|m6knapsk|m6loadg|m6lp2tad|m6lp2tau|m6mesh2b|m6meshmesh|m6metasync|m6ns2p|m6p2ns|m6pcchna|m6permuto|m6prevn2p|m6prevn2st|m6prfmatch|m6relax|m6saveg|m6sconcom|m6showg|m6showns|m6showp|m6ta2lpd|m6ta2lpu|m6tconex|m6transc|m6umtree|m6umtree1|m6visitor|macr2lst|matrix|max|maxi|mclearerr|mclose|meof|messagebox|mfprintf|mfscanf|mget|mgetstr|min|mini|mlist|mode|mopen|mprintf|mput|mputl|mputstr|mscanf|mseek|msprintf|msscanf|mtell|mtlb_mode|mtlb_sparse|mulf)\\b'
         'name': 'support.function.builtin.scilab'
      }
   'sci_builtin_functions_n':
      {
         'comment': 'Scilab 5.4.1 pre-defined functions beginning with n'
         'match': '\\b(?<!\\.)(netclose|netwindow|netwindows|newfun|nnz|norm|numdiff)\\b'
         'name': 'support.function.builtin.scilab'
      }
   'sci_builtin_functions_o':
      {
         'comment': 'Scilab 5.4.1 pre-defined functions beginning with o'
         'match': '\\b(?<!\\.)(ode|odedc|odeoptions|ones|optim|ordmmd)\\b'
         'name': 'support.function.builtin.scilab'
      }
   'sci_builtin_functions_p':
      {
         'comment': 'Scilab 5.4.1 pre-defined functions beginning with p'
         'match': '\\b(?<!\\.)(param3d|param3d1|part|pinv|plot2d|plot2d1|plot2d2|plot2d3|plot2d4|plot3d|plot3d1|poly|ppol|pppdiv|predef|print|prod|progressionbar|proj|projsl|projspec|prompt|psmall|pspect|pwd)\\b'
         'name': 'support.function.builtin.scilab'
      }
   'sci_builtin_functions_q':
      {
         'comment': 'Scilab 5.4.1 pre-defined functions beginning with q'
         'match': '\\b(?<!\\.)(qr)\\b'
         'name': 'support.function.builtin.scilab'
      }
   'sci_builtin_functions_r':
      {
         'comment': 'Scilab 5.4.1 pre-defined functions beginning with r'
         'match': '\\b(?<!\\.)(rand|rank|rat|rcond|rdivf|read|read4b|readb|readgif|readmps|readxbm|real|remez|residu|resume|ricc|rlist|roots|round|rpem|rref|rtitr)\\b'
         'name': 'support.function.builtin.scilab'
      }
   'sci_builtin_functions_s':
      {
         'comment': 'Scilab 5.4.1 pre-defined functions beginning with s'
         'match': '\\b(?<!\\.)(save|savewave|schur|sci2exp|sci_tree2|sci_tree3|sci_tree4|sciargs|scicosim|sctree|semidef|set|setbpt|setfield|setmenu|setscicosvars|sfact|sfinit|sign|simp|simp_mode|sin|size|sleep|sort|sparse|spchol|spcompack|spec|spget|splin|sqrt|stacksize|str2code|strcat|strindex|string|strsubst|struct|subf|sum|sva|svd|sylv|symfcti|syredi)\\b'
         'name': 'support.function.builtin.scilab'
      }
   'sci_builtin_functions_t':
      {
         'comment': 'Scilab 5.4.1 pre-defined functions beginning with t'
         'match': '\\b(?<!\\.)(testmatrix|tic|timer|toc|toolbar|tlist|tr_zer|tril|tohome|tokens|triu|type|typename|typeof)\\b'
         'name': 'support.function.builtin.scilab'
      }
   'sci_builtin_functions_u':
      {
         'comment': 'Scilab 5.4.1 pre-defined functions beginning with u'
         'match': '\\b(?<!\\.)(uint16|uint32|uint8|uicontrol|uicontextmenu|uigetdir|ulink|unix|unsetmenu|user)\\b'
         'name': 'support.function.builtin.scilab'
      }
   'sci_builtin_functions_v':
      {
         'comment': 'Scilab 5.4.1 pre-defined functions beginning with v'
         'match': '\\b(?<!\\.)(var2vec|varn|vec2var|ver)\\b'
         'name': 'support.function.builtin.scilab'
      }
   'sci_builtin_functions_w':
      {
         'comment': 'Scilab 5.4.1 pre-defined functions beginning with w'
         'match': '\\b(?<!\\.)(warning|what|where|whereami|whereis|who|who_user|whos|winsid|with_javasci|with_macros_source|with_module|with_tk|writb|write|write4b)\\b'
         'name': 'support.function.builtin.scilab'
      }
   'sci_builtin_functions_x':
      {
         'comment': 'Scilab 5.4.1 pre-defined functions beginning with x'
         'match': '\\b(?<!\\.)(x_choose|x_dialog|x_mdialog|xarc|xarcs|xarrows|xaxis|xchange|xchoicesi|xclea|xclear|xclick|xdel|xend|xfarc|xfarcs|xfpoly|xfpolys|xfrect|xg2ps|xget|xgetech|xgetfile|xgetmouse|xgraduate|xgrid|xinfo|xinit|xlfont|xload|xname|xnumb|xpause|xpoly|xpolys|xrect|xrects|xs2fig|xsave|xsegs|xselect|xset|xsetech|xstring|xstringl|xtape|xtitle)\\b'
         'name': 'support.function.builtin.scilab'
      }
